@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 13% 10%;
    --foreground: 210 40% 98%;
    --card: 224 13% 14%;
    --card-foreground: 210 40% 98%;
    --popover: 224 13% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 225 80% 56%;
    --primary-foreground: 210 40% 98%;
    --secondary: 220 13% 18%;
    --secondary-foreground: 210 40% 98%;
    --muted: 220 13% 22%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 187 89% 48%;
    --accent-foreground: 224 13% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 13% 28%;
    --input: 220 13% 22%;
    --ring: 225 80% 56%;
    --radius: 0.3rem;
    --chart-1: 225 80% 56%;
    --chart-2: 187 89% 48%;
    --chart-3: 210 40% 98%;
    --chart-4: 240 5% 64.9%;
    --chart-5: 220 13% 22%;
  }

  .light {
    --background: 212 33% 97%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 225 73% 47%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 187 100% 39%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 225 73% 47%;
    --chart-1: 225 73% 47%;
    --chart-2: 187 100% 39%;
    --chart-3: 220.9 39.3% 11%;
    --chart-4: 220 8.9% 46.1%;
    --chart-5: 220 14.3% 95.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', sans-serif;
  }
}

/* Custom Mapbox Popup Styles */
.mapboxgl-popup-content {
    background: hsl(var(--card)) !important;
    color: hsl(var(--card-foreground)) !important;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1) !important;
    border-radius: 0px !important;
    padding: 1rem !important;
    font-family: Inter, sans-serif;
    border: 1px solid hsl(var(--border)) !important;
}

.mapboxgl-popup-tip {
    border: 0 !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    border-bottom-color: hsl(var(--card)) !important;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: hsl(var(--card)) !important;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: hsl(var(--card)) !important;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: hsl(var(--card)) !important;
}

.mapboxgl-popup-close-button {
    color: hsl(var(--card-foreground)) !important;
    font-size: 1.5rem;
}
